/* body {
  min-height: 200vh;
} */

.header-conteiner {
  background-color: rgb(53, 53, 53);
  height: 27vh;
}

.header-conteiner h1 {
  font-size: 50px;
  position: fixed;
  right: 490px;
  top: 0;
}

.header-conteiner h2 {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 50px;
}

.header-conteiner p {
  display: flex;
  gap: 10px;
  position: fixed;
  right: 20px;
  top: 50px;


}

