/* body {
  min-height: 200vh;
} */

.header-conteiner {
    height: 27vh;
    background-color: rgb(53, 53, 53);
}
.header-conteiner h1 {
  font-size: 50px;
  position: fixed;
  top: 0;
  right: 490px;
}

.header-conteiner h2 {
  display: flex;
  position: fixed;
  top: 50px;
  gap: 10px;
}

.header-conteiner p {
    display: flex;
    position: fixed;
    top: 50px;
    right: 20px;
    gap: 10px;
    

}

