.wallet-conteiner {
  align-items: center;
  background-color: #dedede;
  border: solid blue 1px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* margin: 0 400px;
    border-radius: 25px; */
}

.wallet-conteiner label {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 5px;
  min-width: 500px;
  padding: 5px;

}

.wallet-conteiner input {
  min-width: 300px;
  text-align: center;

}

.wallet-conteiner select {
  text-align: center;
  width: 308px;

}

.css-button-sliding-to-top--black {
  background: #fff;
  border: 2px solid #212529;
  border-radius: 5px;
  color: #fff;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 40px;
  margin-bottom: 8px;
  min-width: 130px;
  outline: none;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 0;
}

.css-button-sliding-to-top--black:hover {
  color: #fff;
}

.css-button-sliding-to-top--black:hover:after {
  height: 100%;
}

.css-button-sliding-to-top--black:after {
  background: #212529;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
}
